.Footer {
    padding-top: 100px;
    color: rgba(192, 192, 194, 1);

    .title {
        font-size: 48px;
        color: rgba(192, 192, 194, 1);
        font-family: 'Josefin Sans', sans-serif;
        text-align: start;

    }
}

.ContactIcons {

    border: 1px solid white;
    width: 110px;
    height: 110px;
    transform: skewX(-7deg);
    // font-size: 70px;
    color: rgba(192, 192, 194, 1);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    img {
        transform: skewX(7deg);
        font-size: 43px;
    }

    span {
        transform: skewX(15deg);
    }
}

.Contact {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 20px;
    text-align: left;

    &::after {
        content: "";
        margin: 10px 0 0 0;
        position: relative;
        display: block;
        width: 50px;
        height: 3px;
        background: linear-gradient(89.71deg, #BD0F71 0.22%, #7F028A 99.72%);
        bottom: 0;
        left: 0;
    }
}

.phoneNumber {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;

    a {
        color: rgba(192, 192, 194, 1);
        text-decoration: none;
    }
}

.socialMediaIcons {
    padding: 100px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.socialMediaLogos {
    color: rgba(192, 192, 194, 1);
    align-items: start;

    i,
    img {
        padding-left: 30px;
        padding-right: 25px;
        font-size: 20px;
        color: rgba(192, 192, 194, 1);
        border-left: 1px solid #BD0F71;

        &:first-child {
            border-left: none;
            padding-left: 0;
        }

        &:last-child {
            border-right: none;
        }
    }

}

@media only screen and (max-width:992px) {
    #contactMe {
        margin-top: 50px;
    }

    .ContactIcons {
        width: 90px;
        height: 90px;
    }
    .contact{
        
    }

    .col-8 {

        .Contact,
        .phoneNumber {
            padding: 0 20px 0 20px;
            font-size: 20px;
        }
    }

    .socialMediaLogos {
        i {
            font-size: 18px;
        }

        padding: 5px 10px 0 0px;
    }
}