.Footer {
    padding-top: 100px;
    color: white;
    .title {
        font-size: 48px;
        color: rgba(192, 192, 194, 1);
        font-family: 'Josefin Sans', sans-serif;
        text-align: start;

    }
}
.ContactIcons {
    
    border: 1px solid white;
    width: 50%;
    height: 100%;
    transform: skewX(-10deg);
    font-size: 70px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    span{
    transform: skewX(15deg);
    }
}