.mySkills {
    width: 100%;
    height: auto;
    padding-top: 100px;
    .title {
        font-size: 48px;
        color: rgba(192, 192, 194, 1);
        font-family: 'Josefin Sans', sans-serif;
        text-align: start;
    }
    .EveryDay {
        text-align: start;
        margin-top: 40px;
        span {
            padding: 20px;
            font-size: 20px;
            font-weight: 400;
            font-family: 'Josefin Sans', sans-serif;
            color: white;
            text-align: start;
        }
    }

    .content {
        font-size: 23px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        color: rgba(192, 192, 194, 1);
        text-align: justify;
    }

    #ContactBtns {
        border: 1px solid white;
        height: 100%;
        padding: 10px;
        transform: skewX(-15deg);
        font-size: 20px;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        span {
            padding: 0 30px 0 30px;
            transform: skewX(15deg);
        }
    }
}

.skillsLevel {
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    .form-range {
        width: 400px;
        height: 20px;
        // border-radius: 50%;
        background-color: transparent;
        box-shadow: 200px 0 0 200px black;
        cursor: pointer;
    }

    .form-range::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        // border-radius: 50%;
        background-color: transparent;
        box-shadow: 200px 0 0 linear-gradient(89.71deg, #BD0F71 0.22%, #7F028A 99.72%);
        cursor: pointer;
    }
}

@media only screen and (max-width : 992px) {
    .EveryDay {
        // width: 100%;
        margin-top: 50px;
    }

    .content {
        text-align: justify;
    }
}