.mySkills {
    width: 100%;
    height: auto;
    padding-top: 100px;

    .title {
        font-size: 48px;
        color: rgba(192, 192, 194, 1);
        font-family: 'Lato', sans-serif;
        text-align: start;
    }

    .EveryDay {
        text-align: start;
        margin-top: 40px;

        span {
            padding: 20px;
            font-size: 20px;
            font-weight: 400;
            font-family: 'Josefin Sans', sans-serif;
            color: rgba(192, 192, 194, 1);
            text-align: start;
        }
    }

    .content {
        font-size: 23px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        color: rgba(192, 192, 194, 1);
        text-align: justify;
    }

}

.skillsLevel {
    width: 80%;
    text-align: center;
    img {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

}

@media only screen and (max-width : 992px) {
    .EveryDay {
        // width: 100%;
        margin-top: 50px;
    }

    .content {
        text-align: justify;
    }

    .skillsLevel {
        margin: 100px 0 0 0;
        align-items: center;
        text-align: center;
    }
    #mySkills{
        margin: 200px 0 0 0;
    }

}