// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Encode+Sans&family=Lato:wght@300;700&family=Teko&display=swap');

.Portfolio {
    width: 100%;
    height: auto;
    padding-top: 80px;
    position: relative;
    .title {
        font-size: 48px;
        color: rgba(192, 192, 194, 1);
        font-family: 'Lato', sans-serif;
        text-align: start;
    }

    .portfolioImg{
        // width: 100%;
        margin: 10px 30px 0 40px;
        height: 500px;
        // height: 80vh;
        font-family: 'Lato', sans-serif;
        font-size: 48px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #1F191F;
        span{
            background: -webkit-linear-gradient(80.71deg, #BD0F71 0.22%, #7F028A 99.72%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover{
            margin: -10px 0 0 0;
            background-color: rgb(115, 115, 115)1F;
            span{
                transition-delay: 2s;
                background: -webkit-linear-gradient(40.71deg,#7F028A  0.22%, #BD0F71 99.72%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

}

@media only screen and (max-width:992px){
    .portfolioImg{
        margin: 20px 0 20px 0;
    }
}