@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300&display=swap');
 



.mainHeader {
    background: rgba(31, 25, 31, 0.899);

}
#menuIcons{
    color: rgba(192, 192, 194, 1);
    outline: none;
    // border: 1px solid white;
    // margin-right: 0px;
}
#menuIcons{
    color: none;
    border: none;
    outline-style: none;
    &:active{
        border: none;
    }
}

#navbarSupportedContent {
    ul {
        li {
            transform: skewX(-10deg);
            padding: 10px;

            a {
                color: #555455;
                transform: skewX(10deg);
                font-size: 20px;
                letter-spacing: 2%;
                line-height: 16px;
                font-family: 'Josefin Sans', sans-serif;
                width: 100%;
                height: 100%;
                padding: 30px 70px 30px 70px;

            }

            &:hover {
                background: linear-gradient(89.71deg, #BD0F71 0.22%, #7F028A 99.72%);

                a {
                    color: rgb(255, 255, 255);

                    &::after {
                        content: "";
                        align-items: center;
                        text-align: center;
                        margin: 5px 0 0 20%;
                        display: block;
                        width: 50%;
                        height: 1px;
                        background: #ffffff;
                        right: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:992px) {
    ul {
        li {
            &:hover {
                background: linear-gradient(89.71deg, #BD0F71 0.22%, #7F028A 99.72%);
                margin-left: 130px;
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width:702px) {
    ul {
        li {
            &:hover {
                background: linear-gradient(89.71deg, #BD0F71 0.22%, #7F028A 99.72%);
                margin-left: 64px;
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                &::after {
                    content: "";
                    align-items: center;
                    text-align: center;
                    display: none;
                }
            }
        }
    }
}